#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=516433518414706&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

#level.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h2.modal-title{style:"text-align:center"} Congratulations!
      .modal-body{style:"text-align:center"}
        %h3.levelaward{:style => "margin-bottom:20px"} You've reached level 2!
        .share{:style => "margin:0px auto; text-align:center"}
        %a.twitter-share-button{:href => "https://twitter.com/share"}
          Tweet
        :javascript
          window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
        %br
        .fb-share-button{"data-href" => "https://developers.facebook.com/docs/plugins/", "data-width" => "200"}
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button", :style => "width:100%"} Keep Playing
    / /.modal-content
  / /.modal-dialog
/ /.modal