.container
  %h1.logo
    lit
    %span.less lap
    .central.push
      .row.image-section
        - @posis.each do |posi|
          .col-xs-3
            = image_tag("words/" + posi + ".jpg", :class => "img-brd", :id => (Word.where(posi: posi).first.name))
      .row.word-section
        - @names.each do |name|
          .col-xs-3
            %h2.word
              = name