.container
  %h1.logo
    lit
    %span.less lap
    .central.push
      .row.image-section
        .col-md-3
          = image_tag("http://placehold.it/200x200", :class => "img-brd")
        .col-md-3
          = image_tag("http://placehold.it/200x200", :class => "img-brd")
        .col-md-3
          = image_tag("http://placehold.it/200x200", :class => "img-brd")
        .col-md-3
          = image_tag("http://placehold.it/200x200", :class => "img-brd")
      .row.word-section
        .col-md-3
          %h2.word dog
        .col-md-3
          %h2.word cat
        .col-md-3
          %h2.word mouse
        .col-md-3
          %h2.word bee